// Place all the styles related to the kaigyo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #e6e6fa;
}

textare {
  border-radius: 3px;
  border-color: #f5f5f5
}

/*ヘッダエリア*/
/* .はクラス ,#はID（一意なの）*/
.headerArea {
  background-color: #000000;
  border-radius: 5px;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
}

/*ヘッダエリア　アプリケーション名エリア*/
.appNameArea {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

/*ヘッダエリア　アプリケーション名*/
.appname {
  font-size: 23px;
  padding-left: 10px;
}

/*ヘッダエリア　サブアプリケーション名*/
.appsubname {
  font-size: 16px;
  margin-left: 30px;
}

/*コンテンツエリア*/
.contentArea {
  margin-top: 30px; /*上との幅*/
  height: 70%;
  width: 100%;
}

/*コンテンツエリア 改行ボタン*/
.submitButton {
  width: 200px;
  background-color: #4169e1;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  padding: 5px 0;
  height: 35px;
  margin-left: 100px;
  margin-bottom: 30px;
}

/*コンテンツエリア 改行前テキストエリア*/
.beforeTextArea {
  float: left;
  width:40%;
}

/*コンテンツエリア 改行前テキスト*/
.beforeText {
  color: #666666;
  width: 100%;
}

/*コンテンツエリア 改行後テキストエリア*/
.afterTextArea {
  float: right;
  width:40%;
}

/*コンテンツエリア 改行後テキスト*/
.afterText {
  width: 100%;
}
.text_area_box_inner{
  padding: 1em;
}
.footerArea {
}
